@include 'header.html'
<h1>Stats from compilations of previous V versions, using cmd/tools/oldv.v</h1>

@for i, data in links
@if i[0] == `<`
@i
@else
<br><a href="@{i#[1..]}">@data.cmd</a>,
[<a href="@{i#[1..]}#vlines_ps">vlines_ps</a>],
[<a href="@{i#[1..]}#scan">scan</a>],
[<a href="@{i#[1..]}#parse">parse</a>],
[<a href="@{i#[1..]}#check">check</a>],
[<a href="@{i#[1..]}#comptime">comptime</a>],
[<a href="@{i#[1..]}#transform">transform</a>],
[<a href="@{i#[1..]}#markused">markused</a>],
[<a href="@{i#[1..]}#cgen">cgen</a>],
[<a href="@{i#[1..]}#tl_stmts">tl stmts</a>],
[<a href="@{i#[1..]}#total">total</a>]
<br>
<br>
@end
@end

<hr>
<br><a href="data.sqlite">data.sqlite</a>, containing the raw data, so you can make your own charts.

@include 'footer.html'
