@include 'header.html'
<h1>[<a href='index.html'>index</a>] Performance stats for <i>@title</i> :</h1>
<div>
	<h3 id='stages'>Stages, ms</h3><div id="stages_area"></div>
	<h3 id='csize'>CSize, bytes</h3><div id="csize_area"></div>
	<h3 id='vlines_ps'>VLines/s</h3><div id="vlines_ps_area"></div>
	<h3 id='scan'>Scan, ms</h3><div id="scan_area"></div>
	<h3 id='parse'>Parse, ms</h3><div id="parse_area"></div>
	<h3 id='check'>Check, ms</h3><div id="check_area"></div>
	<h3 id='cgen'>Cgen, ms</h3><div id="cgen_area"></div>
	<h3 id='total'>Total, ms</h3><div id="total_area"></div>
</div>
<script>
  Plotly.setPlotConfig({locale: 'en-US'});
  const commits = @{measurements.map("Commit: ${it.commit}")};
  const x = @{measurements.map(it.date)};
  const x2 = [...x, ...x.toReversed()];
  const raw_data = [
    {
      label: "Scan",
      id: "scan",
      color: "#FFD75E",
      y: @{measurements.map(ms(it.scan.mean))},
      d: @{measurements.map(ms(it.scan.stddev))},
    },
    {
      label: "Parse",
      id: "parse",
      color: "#11FFFF",
      y: @{measurements.map(ms(it.parse.mean))},
      d: @{measurements.map(ms(it.parse.stddev))},
    },
    {
      label: "Check",
      id: "check",
      color: "#FFD75E",
      y: @{measurements.map(ms(it.check.mean))},
      d: @{measurements.map(ms(it.check.stddev))},
    },
    {
      label: "Code Generation",
      id: "cgen",
      color: "#FF22FF",
      y: @{measurements.map(ms(it.cgen.mean))},
      d: @{measurements.map(ms(it.cgen.stddev))},
    },
    {
      label: "Total",
      id: "total",
      color: "#071EFF",
      y: @{measurements.map(ms(it.total.mean))},
      d: @{measurements.map(ms(it.total.stddev))},
    },
    {
      label: "vlines/s",
      id: "vlines_ps",
      color: "#223322",
      y: @{measurements.map(it.vlines_ps.mean)},
      d: @{measurements.map(it.vlines_ps.stddev)},
    },
    {
      label: "C Size",
      id: "csize",
      color: "#070EFF",
      y: @{measurements.map(it.csize)},
    }
  ]

  const data = {};
  for(const d of raw_data) {
    data[d.id] = {
      type: "scatter",
      mode: "lines",
      line: {color: d.color},
      name: d.label,
      x,
      y: d.y,
	  text: commits,
    }
    if(d.d) {
      data[d.id + "_error"] = {
        type: "scatter",
        name: d.label,
        fill: "toself", 
        fillcolor: d.color + "20", 
        line: {color: "transparent"}, 
        showlegend: false, 
        x: x2,
        y: [...d.y.map((x, i) => x + d.d[i]), ...d.y.map((x, i) => x - d.d[i]).reverse()],
      }
    }
  }

  console.log(data)

  Plotly.newPlot("stages_area", {
      "data":  ["scan", "parse", "check", "cgen"].map(x => [data[x + "_error"], data[x]]).flat(), 
      "layout": {
          "showlegend": true,
          "width": 1800,
          "height": 800,
          xaxis: {
              type: 'date',
          },
      }
  });
  Plotly.newPlot("csize_area", {
      "data": [data.csize],
      "layout": {
          "showlegend": true,
          "width": 1800,
          "height": 800,
          xaxis: {
              type: 'date',
          },
      }
  });
  for(const name of ["vlines_ps", "scan", "parse", "check", "cgen", "total"]) {
    Plotly.newPlot(name + "_area", {
        "data": [data[name + "_error"], data[name]],
        "layout": {
            "showlegend": true,
            "width": 1800,
            "height": 800,
            xaxis: {
                type: 'date',
            },
        }
    });
  }
</script>
@include 'footer.html'
